@import "./variables.css";
@import "./form.css";
@import "./note.css";
@import "./tinymce.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.headerIcon {
    width: 60px;
    height: 60px;
}

.plus-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: copy;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}