@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-color: #E8EAED;
    --font-size: 15px;
    --bg-color: rgb(32, 32, 32);
    --note-bg-color: #9F8735;
    --border-color: #6f5e25;
    --font-family: "Roboto", sans-serif;
    --gray: #9b9b9b;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_group {
    display: flex;
    gap: 20px;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    z-index: 2;
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
}

.form_field::placeholder {
    color: transparent;
}

.form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form_field:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-color: #f4bf4f;
    border-image-slice: 1;
}

.form_field:focus ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #f4bf4f;
    font-weight: 700;
}

.form_field:required, .form_field:invalid {
    box-shadow: none;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    cursor: not-allowed;
    font-size: 100%;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    text-transform: none;
    transition: all 0.2s ease-in;
    user-select: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.header-icon {
    width: 60px;
    height: 60px;
}

#addPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: copy;
}

.note {
    background-color: var(--note-bg-color);
    border: 3px solid var(--border-color);
    border-radius: 15px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100px;
    min-width: 100px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteText {
    width: 90%;
    height: 90%;
    overflow: auto;
}

.noteIcon {
    transition: 0.218s ease-in;
    opacity: 0;
    pointer-events: none;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 2px;
}

.resizeIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: nwse-resize;
    margin-bottom: 2px;
    margin-right: 2px;
}