:root {
    --font-color: #E8EAED;
    --font-size: 15px;
    --bg-color: rgb(32, 32, 32);
    --note-bg-color: #9F8735;
    --border-color: #6f5e25;
    --font-family: "Roboto", sans-serif;
    --gray: #9b9b9b;
    --white: #FFFFFF;
}